#google-logo {
  max-width: 280px;
  height: auto;
}
#profile-pic {
  max-width: 70px;
  border-radius: 50%;
}
li:hover {
  text-decoration: underline;
}
li {
    display: inline;
    padding: 10px;
}
nav {
  flex-wrap: wrap;
}
footer {
  flex-wrap: wrap;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;